<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <h2>Follows Users</h2>
      <%= render 'follows', following_users: @following_users %>
    </div>
  </div>
</div>
