<div class='container px-5 px-sm-0'>
  <div class='row'>
     <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>User Books</h2>
      <%= render 'books/index',books: @books %>
      <h2>Posts Ratio</h2>
      <%= render 'books/ratio',books: @books,
        todayPostCounts: @todayPostCounts,
        yesterdayPostCounts: @yesterdayPostCounts,
        thisWeekPostCounts: @thisWeekPostCounts,
        prevWeekPostCounts: @prevWeekPostCounts
      %>
      <h2>Number of posts for 7 days</h2>
      <%= render 'books/counts',books: @books,
        sixdaysPostCount: @sixdaysPostCounts, fivedaysPostCount: @fivedaysPostCounts, fourdaysPostCount: @fourdaysPostCounts, threedaysPostCount: @threedaysPostCounts, twodaysPostCount: @twodaysPostCounts, yesterdayPostCounts: @yesterdayPostCounts, todayPostCounts: @todayPostCounts,
        thisWeekPostCounts: @thisWeekPostCounts,
        prevWeekPostCounts: @prevWeekPostCounts
      %>
    </div>
  </div>
</div>
