<footer class="shadow-sm">
  <nav class="bg-dark">
    <div class='container mt-5'>
    	<div class='row'>
      	<div class='mx-auto'>
    		<p class='text-light'>CopyRight Infratop.inc</p>
      	</div>
      </div>
    </div>
  </nav>
</footer>
